h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  button{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
 }

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contenedor3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contenedor4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
