h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  button{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desafio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
  }
  .foto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 20px;
    gap: 10px;
  }
  .dn1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
  }